@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: rgb(227, 227, 227);
}

h1,h2,h3,h4,h5 {
  font-family: "Outfit", sans-serif;
  color: rgb(0, 0, 0);
}

p {
  font-family: "Open Sans", sans-serif;
}

.h3title {
  text-align: center;
}

.title {
  text-align: center;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.btnDiv {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  gap: 15px;
}

input {
  background-color: white;
  border: solid hotpink 2px;
  padding: 10px;
  border-radius: 10px;
}

textarea {
  border: solid hotpink 2px;
  padding: 10px;
  border-radius: 10px;
  font-family: "Open Sans", sans-serif;
}

/* NAVBAR */

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  background-color: transparent;
  font-family: "Outfit", sans-serif;
  padding: 1% 0 1% 5%;
}

.link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
}

.link button:hover {
  color: hotpink;
  cursor: pointer;
}

.link a {
  text-decoration: none;
}

.link h1:hover {
  color: hotpink;
  cursor: pointer;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.links a {
  text-decoration: none;
  color: rgb(0, 0, 0); 
  margin-right: 20px;
}

.links a:hover {
  color: rgb(234, 54, 186);
  cursor: pointer;
}

.Navbtn {
  color: white;
  background-color: rgb(234, 54, 186);
  border: none;
  border-radius: 25px;
  padding: 2% 6% 2% 6%;
  width: 150px;
  height: 40px;
}

.Navbtn:hover {
  background-color: rgb(0, 0, 0);
  cursor: pointer;
}

.ToggleBtn {
  color: black;
  border: none;
  background-color: transparent;
  font-size: 16px;
}

/* FOOTER */

footer {
  background-color: hotpink;
  
}

/* LANDINGPAGE */

.hero {
  margin: 5% 0 7% 0;
}

.hero-title {
  text-align: center;
}

.hero-p {
  text-align: center;
}

/* LATEST POST */


/* BLOG PAGE */


/* BLOGPOST */

.gridPost {
    display: flex;
    flex-direction: grid;
    align-items: top;
    justify-content: left;
    margin-left: 8%;
    gap: 200px;
    width: 90%;
    margin-top: 50px;
}

.ownerDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.ownerPost {
  border: solid hotpink 2px;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
}

.blogPost {
  border: solid hotpink 2px;
  width: 200%;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 30px;
  padding: 20px;
  max-width: 700px;
}

.makeBlogPost {
  border: solid hotpink 2px;
  width: 150%;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 30px;
  padding: 20px;
  max-width: 500px;
}

.postTextarea {
  min-width: 400px;
}

.primaryPostBtn {
  color: white;
  background-color: hotpink;
  border: solid transparent 2px;
  border-radius: 20px;
  padding: 5px 10px 5px 10px; 
}

.primaryPostBtn:hover {
  color: hotpink;
  background-color: rgb(0, 0, 0);
  cursor: pointer;
}

.secondaryPostBtn {
  border: solid hotpink 2px;
  border-radius: 20px;
  padding: 5px 10px 5px 10px;
  background-color: transparent;
  color: hotpink;
}

.secondaryPostBtn:hover {
  color: white;
  background-color: hotpink;
  cursor: pointer;
}

.commentInput {
  min-height: 20px;
  min-width: 95%;
  max-width: 95%;
  font-family: "Open Sans", sans-serif;
}


.blogText {
  width: 95%;
  word-wrap: break-word;
  text-wrap: wrap;
}